<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/about.css" />
    <title>about</title>
  </head>
  <body>
    <section>
      <p data-item="donkey">donkey</p>
      <nav>
        <ul class="menuItems">
          <li><a href="/api/home" data-item="Home">Home</a></li>
          <li><a href="/api/about" data-item="About">About</a></li>
          <li><a href="/api/good" data-item="Products">Products</a></li>
          <li><a href="/api/cart" data-item="cart">cart</a></li>
          <li><a href="/api/mypage" data-item="mypage">mypage</a></li>
          <li><a href="#" data-item="admin">admin</a></li>
          <li><a href="/api/logout" data-item="logout">logout</a></li>
        </ul>
      </nav>
    </section>
    <main>
      <div class="container">
        <div class="title">
          sweater 29jo 👕
        </div>
        <div class="shirt">
          <span>Sweater Loading...</span>
          <img src="https://assets.codepen.io/450456/t-shirt.png" loading="lazy" />
          <div class="shirt__overlay" style="display: none;">
            <div class="shirt__overlay__pattern"></div>
            <img src="https://assets.codepen.io/450456/t-shirt-overlay-70c.png" />
          </div>
        </div>
        <div class="textiles">
          <button class="textiles__option textiles__option--clear active"></button>
          <button class="textiles__option">
            <img src="https://assets.codepen.io/450456/swatch2-preview.png" />
          </button>
          <button class="textiles__option">
            <img src="https://assets.codepen.io/450456/swatch5-preview.png" />
          </button>
          <button class="textiles__option">
            <img src="https://assets.codepen.io/450456/swatch3-preview.png" />
          </button>
        <div class="textiles textiles--2">
          <button class="textiles__option">
            <img src="https://assets.codepen.io/450456/swatch6-preview.png" />
          </button>
          <button class="textiles__option">
            <img src="https://assets.codepen.io/450456/swatch7-preview.png" />
          </button>
          <button class="textiles__option">
            <img src="https://assets.codepen.io/450456/swatch8-preview.png" />
          </button>
          <button class="textiles__option">
            <img src="https://assets.codepen.io/450456/swatch9-preview.png" />
          </button>
        </div>
      </div>
    </main>
    <script src="/js/about.js"></script>
    <footer>
      <div class="footer-copyright text-center">&copy; Developed with </i> by
        <a href="" class="white-text" target="_blank">29jo</a>.
      </div>
    </footer>
  </body>
</html>
